*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 500ms;
}

.main {
    min-height: 100vh;
    /* background-color: rgb(17, 4, 95); */
    background-image: url(./img/rainbow.png);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.gameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    flex-grow: 12;
    padding-top: 10px;
}

.lifeLine {
    position: absolute;
    width: 5px;
    background: linear-gradient(180deg, green, yellow, red);
    top: 0;
    left: 0;
    bottom: 0;
}
.imageDisplay {
    background-color: #fff;
    user-select: none;
    width: 25%;
    flex-grow: 5;
    background-color: rgba(7, 10, 12, 0.699);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.guess-tile {
    height: 60px;
    min-width: 60px;
    width: guessDisplayWidth / 5;
    /* background: linear-gradient(0deg, rgba(0, 128, 0, 0.801), rgba(76, 0, 130, 0.329),#fff,rgba(255, 255, 0, 0.322),#fff, rgba(255, 0, 0, 0.866)); */
    backdrop-filter: blur(4px);
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 1.5rem;
    user-select: none;
    transition: 1s linear;
    border-top: none;


}
.guessDisplay {
    /* background-color: rgb(252, 250, 250); */
    min-width: 25%;
    /* flex-grow: 1; */
    display: flex;
    gap: 6px;

}
.keyboard {
    background-color: rgba(7, 10, 12, 0.699);

    width: 100vw;
    height: 30%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 7px;
    padding: 10px;
}
.alphabet {
    border: none;
    border-radius: 5px;
    background-color: rgba(13, 13, 14, 0.473);
    box-shadow: 0 0 2px white;
    color: #fff;
    font-size: small;

    user-select: none;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}
.alphabet:hover {
    background-color: rgba(104, 104, 150, 0.336);
    transition: 500ms;
}
.enter {
    background-color: forestgreen;
    grid-column: span 2;
}
.delete {
    grid-column: span 2;
    background-color: red;
}
.riddle {
    font-size: 2rem;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;

}
.wrong {
    background-color: hsla(0, 100%, 50%, 0.623);
}
.correct {
    background-color: green;
}

/* Responsiveness */
@media (width <= 900px) AND ( width > 768px) {
    .imageDisplay {
        width: 94%;
    }
}
@media (width <= 768px) AND ( width > 480px) {
    .imageDisplay {
        width: 90%;
    }
   .delete {
    grid-column: span 2;
   }
   .enter {
    grid-column: span 2;
   }
}
@media (width <= 480px) {
    .imageDisplay {
        width: 90%;
        
    }
    .alphabet {
        max-height: 5px;
    }
}
